<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.testsimpleapps.coloraudioplayer"
    android:versionCode="6"
    android:versionName="1.0.6"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/image_application"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ColorTheme">

        <activity
            android:name=".ui.activities.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.PreferencesActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:launchMode="singleInstance"></activity>

        <service
            android:enabled="true"
            android:exported="false"
            android:name=".service.PlayerService">
            <intent-filter>
                <action android:name="ru.color_player.action.EXIT" />
                <action android:name="ru.color_player.action.PLAY" />
                <action android:name="ru.color_player.action.NEXT" />
                <action android:name="ru.color_player.action.PREVIOUS" />
                <action android:name="ru.color_player.action.SEEK" />
                <action android:name="ru.color_player.action.TIMER_START" />
                <action android:name="ru.color_player.action.TIMER_STOP" />
                <action android:name="ru.color_player.action.AUDIO_EFFECTS" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.MediaButtonsReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ui.widgets.PlayerWidget"
            android:icon="@drawable/image_application"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ru.color_player.action.UPDATE_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata"></meta-data>
        </receiver>
    </application>
</manifest>
